node_modules/
.env
Server/uploads/logos/*
Server/uploads/outils/*
!Server/uploads/logos/.gitkeep
!Server/uploads/outils/.gitkeep
Interface/public/uploads/logos/*
Interface/public/uploads/outils/*
!Interface/public/uploads/logos/.gitkeep
!Interface/public/uploads/outils/.gitkeep
npm-debug.log*
