# Copier ce fichier en ".env" et remplir les valeurs

# Base de données MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=glo_db
DB_USER=root
DB_PASS=

# Serveur
PORT=2520

# Session (change cette valeur en prod)
SESSION_SECRET=change_moi_en_production

# URL autorisée à appeler l'API (Interface/)
CLIENT_URL=http://localhost:2521
